/* websocket demo.css */

body {
margin:1em;
overflow: hidden;
}

pre {
background:#fffaf4;
border:1pt solid #aebdcc;
color:#008;
padding:5pt;
white-space:pre;
}

td, th {
min-width:10px;
white-space: nowrap;
padding:3px 5px 3px 5px;
vertical-align:top;
}

.alt {
background:#e4dfec;
}

.btncls {
margin:2px 0px 3px 3px;
width:70px;
}

.btnrws {
margin:3px 3px 0px 2px;
width:70px;
}

.btnslice:not(:hover) {
background-color:#eee;
}

.btnslice {
margin-right:2px;
border:1px solid #aaa;
width:70px;
}

.CodeMirror-activeline-background {background:#f0f0e8 !important;}

.listslice {
margin-right:12px;
}

.right {
text-align:right;
}

#cubepane table {
background:white;
border:0;
}

#cubetab {
overflow:auto;
}

#cubetab table {
background:#f8f8f8;
border:1pt solid #b4c4d4;
border-collapse:collapse;
margin:2px 2px 2px 0px;
}

#cubetab td,  #cubetab th {
padding:3px 7px 3px 7px;
border: 1px solid #ccc;
}

#cubetab td {
text-align:right;
}

#cubetab th {
background:#f4f0ec;
font-weight:normal;
text-align:center;
}

#hdr {
display:flex;
border-bottom:2px solid silver;
margin-top:1.2em;
margin-bottom:0.5em;
line-height:1.3;
}

#tab {
overflow:auto;
}

#tab table {
margin-bottom:15px;
background:#f8f8f8;
border:1pt solid #b4c4d4;
text-align:left;
border-collapse:collapse;
}

#tabndx {
min-height:20px;
}

#term .CodeMirror {
border:1pt solid #aebdcc;
background:#fffaf4;
color:#008;
}

#title {
color:#015293;
font:bold larger sans-serif;
}

#top {
margin-bottom:15px;
}

#out {
background:#fffaf4;
font-family:monospace;
}

#wiki {
margin-left:auto;
}
